<%- include('../partials/head', { title: 'Início' }) -%>

<h1>Bem-vindo ao sistema do TomatoClock</h1>
<p>Gerencie seu tempo de forma eficiente com a técnica Pomodoro. <a href="/cadastro">Cadastre-se</a> ou <a href="/login">faça login</a> para começar a usar o TomatoClock e aumentar sua produtividade!</p>
<p>Possuimos o TomatoClock online e você pode possuir o modelo físico</p>
<p>Peça o seu e melhore seus estudos em 100%</p>

<h1>Modelo e preço:</h1>


<%- include('../partials/footer') -%>