<!DOCTYPE html>
<html lang="pt-br">
<footer class="footer">
    <small id="fim">© 2026 Pomodoro. Todos os direitos reservados.</small>
</footer>

<script src="/js/script.js"></script>
<link rel="stylesheet" href="/css/footer.css">
</body>
</html>