<!DOCTYPE html>
<html lang="pt-br">
<footer class="footer">
    <div>
        <small id="termos">Termos de Uso <a href="/termos">Clique aqui</a></small>
        <small id="privacidade">Política de Privacidade <a href="/privacidade">Clique aqui</a></small>
    </div>
    <small id="fim">© 2026 TomatoClock. Todos os direitos reservados.</small>
    <small id="contato">Contato: <a href="mailto:contato@tomatoclock.com">contato@tomatoclock.com</a></small>
</footer>

<script src="/js/script.js"></script>
<link rel="stylesheet" href="/css/footer.css">
</body>
</html>