<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações - Pomodoro</title>
    <link rel="stylesheet" href="/css/infos.css">
</head>
<body>
    <header class="header">
        <h1>Informações sobre o Pomodoro</h1>
        <h2>O que é o Pomodoro?</h2>
        <h2>Como funciona?</h2>
        <h2>Benefícios do Pomodoro</h2>
        <h2>Dicas para aproveitar ao máximo</h2>
        <h2>Nosso pomodoro físico</h2>
    </header>
</html>